html {
    background-color: #0D160B;
    text-align: center;
    
}

body {
    background-color: #785589;
    width: 80%;
    max-width: 1000px;
    text-align: center;
    margin: auto;
    
}

a {
    color: #0D160B;
}
a:hover {
    color: #AC7B7D;
}

a:active {
    color: #BB8A89;
}

nav {
    display: block;
}

.img-size {
    height: 450px;
}
 .list{
    text-align: left;
 }

 figcaption {
font-style: italic; 
}

.link-list {
    padding: auto;
    margin: auto;
    justify-content: center;
    max-width: 250px;
    
    
}

/* .link-list ul {
    max-width: 50%;
    display: flex;
    flex-wrap: wrap;
} */
