:root {
  --black: #000000ff;
  --onyx: #363946ff;
  --dim-gray: #696773ff;
  --cadet-gray: #819595ff;
  --ash-gray: #b1b6a6ff;
  --warm-gray: #c5c0c0;
}

@font-face {
  font-family: 'Adamina'; 
  src: url('../fonts/Adamina-Regular.ttf') format('trueType');
  font-weight: normal; /* Specify the font weight if known */
  font-style: normal;  /* Specify if it's italic or normal */
}
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  background-color: var(--warm-gray);
  width: 100vw;
  height: 100vh;
  font-family: "Adamina";
  color: var(--onyx);
}

main {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto; 
  display: flex;

}
@media screen and (min-width: 601px) and (max-width: 980px) {
  main {
      width: 95%; /* Slightly wider for tablets */
  }

  body {
      font-size: 1.1em; /* Slightly larger text */
  }
}

@media screen and (max-width: 600px) {
  main {
      width: 98%; /* Almost full width */
  }

  body {
      font-size: 1.2em; /* Increase readability */
  }
}



.container-left {
  width: 5%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--black);
  transition: width .3s ease-in-out;
  overflow: hidden; 
  z-index: 1;
  border: 2px solid var(--onyx);
}

.container-left.expanded {
  min-width: fit-content;
  height: 100%;
  border-radius: 0 5px 5px 0;

}

.container-right {
  flex: 1;
  position: absolute;
  right: 0;
  top: 0;
  width: 95%;
  height: 100%;
  text-align: center;
  color: var(--onyx);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-icon {
  display: flex;
  flex-direction: column;
  gap: 5px;        
  cursor: pointer;
  position: relative;
  height: 5%;
  left: 10px;
  top: 10px;
}

.menu-icon div {
  width: 50%;
  max-width: 35px;
  height: 5px;
  background-color: var(--dim-gray);
  border-radius: 5px;
}

.border-top {
  border-top: 2px solid #363946;
}

.border-bottom{
  padding-bottom: 5px;
  border-bottom: 2px solid #363946;
}

.link-title{
  color: var(--ash-gray);
  margin: 10px 5px;
}

.link1 {
  text-decoration: none;
  color: var(--dim-gray);
  font-weight: 900;
  margin: 10px 5px;
}

.link1:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  color: var(--ash-gray);
  text-decoration-color: var(--ash-gray);
}

.no-hover:hover {
  text-decoration: none;
}


.link2 {
  text-decoration: none;
  color: var(--onyx);
  font-weight: 600;
  display: block;
  margin: auto;
  width: fit-content;
  padding: 5px 5px 0;
  border-radius: 5px;
  border: 2px solid var(--onyx);
}

.link2:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  color: var(--dim-gray);
  text-decoration-color: var(--dim-gray);
  
}

#link-container {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none; 

}

.container-left.expanded #link-container {
    opacity: 1;
    pointer-events: auto; 
}

#content-container {
  width: 80%;
  text-align: left;
  padding: 5px;
  margin: 0 auto;
}

.content-link {
    margin: 10px auto;
    width: fit-content;
    padding: 5px 5px 0;
    border-radius: 5px;
    border: 2px solid var(--onyx);
}

.content-link:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.bold {
    font-weight: 800;
}
  
#crap-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90%;
}

.space-evenly {
  justify-content: space-evenly;
}


.good-site{
  height: 50%;
  margin-top: 2.25%;
}

.bad-site{
  height: 50%;
  min-width: fit-content;
  margin-top: 2.25%;

}

.good-content{
  display: flex;
  justify-content: space-evenly;

}
.bad-content{
  display: flex;
  justify-content: space-evenly;
}

.good-content section {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}
.bad-content section {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.bold {
  font-weight: 800;
}

.dim-gray{
  color: var(--dim-gray);
}

.padding-left{
  padding-left: 5px;
}

#footer-container{
  position: relative;
  bottom: 0;
  background-color: var(--black);
  border-radius: 0 5px 0 0;
  border: 2px solid var(--onyx);
  border-left: none;
  padding-bottom: 5px;
  width: 100%;

}

.sidebar-links-format{
  display: flex;
  flex-direction: column;

}