body {
    background-color: #8a1506;
}

a.index-main:hover {
    color: white;
}

a.index-main:active {
    color: black;
}

a.index-main:link {
    color: blue;
}

a.index-main:visited {
    color: gray;
}