body {
    background-color: #8a1506;
}

a:hover {
    color: white;
}

a:active {
    color: black;
}

a:visited {
    color: gray;
}

a:visited:hover {
    color: white;
}

a:visited:active {
    color: black;
}
