body {
    background-color: #0D160B;
    text-align: center;
    
}

.container {
    background-color: #785589;
    width: 80%;
    max-width: 1000px;
    text-align: center;
    margin: auto;
    
}

a {
    color: #977390;;
}
a:hover {
    color: #AC7B7D;
}

a:active {
    color: #BB8A89;
}

