:root {
  --black: #000000ff;
  --onyx: #363946ff;
  --dim-gray: #696773ff;
  --cadet-gray: #819595ff;
  --ash-gray: #b1b6a6ff;
  --antiflash-white: #EBEBEBff;
}

@font-face {
  font-family: 'Adamina'; 
  src: url('../fonts/Adamina-Regular.ttf') format('trueType');
  font-weight: normal; /* Specify the font weight if known */
  font-style: normal;  /* Specify if it's italic or normal */
}
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  background-color: var(--antiflash-white);
  width: 100vw;
  height: 100vh;
  font-family: "Adamina";
  color: var(--onyx);
}

main {
  width: 100%;
  height: 100%;
  display: flex;
}



.container-left {
  width: 5%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--black);
  transition: width .3s ease-in-out;
  overflow: hidden; 
  z-index: 1;
}

.container-left.expanded {
  min-width: fit-content;
  height: 100%;

}

.container-right {
  flex: 1;
  position: absolute;
  right: 0;
  top: 0;
  width: 95%;
  text-align: center;
  color: var(--onyx);
}

.menu-icon {
  display: flex;
  flex-direction: column;
  gap: 5px;        
  cursor: pointer;
  position: relative;
  height: 5%;
  left: 10px;
  top: 10px;
}

.menu-icon div {
  width: 50%;
  max-width: 35px;
  height: 5px;
  background-color: var(--dim-gray);
  border-radius: 5px;
}

.border-top {
  border-top: 2px solid #363946;
}

.border-bottom{
  padding-bottom: 5px;
  border-bottom: 2px solid #363946;
}

.link-title{
  color: var(--ash-gray);
  margin: 10px 5px;
}
.link1 {
  text-decoration: none;
  color: var(--dim-gray);
  font-weight: 600;
  display: block;
  margin: 10px 5px;
}



.link1:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  color: var(--ash-gray);
  text-decoration-color: var(--ash-gray);
}

#link-container {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none; 
}

.container-left.expanded #link-container {
  opacity: 1;
  pointer-events: auto; 
}

#content-container {
width: 80%;
text-align: left;
padding: 5px;
margin: 0 auto;
}

.content-link {
  margin: auto;
  width: fit-content;
  padding: 5px 5px 0;
  border-radius: 5px;
  border: 2px solid var(--onyx);
}

.content-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.bold {
  font-weight: 800;
}

