<nav>
    <p class="border-bottom link-title">3135 Pages:</p>
    <a class="link1" href="itis3135/stuff/Bad! FILE.htm">Bad Webpage</a>
    <a class="link1" href="itis3135/relaxed-hippo">Relaxed Hippo Haberdashery</a>
    <a class="link1" href="itis3135/hobby/">Golf Site</a>
    <a class="link1" href="itis3135/build-your-own-introduction.html">Introduction Form</a>
    <a class="link1" href="itis3135/client-project/">Client Project</a>
    <a class="link1" href="itis3135/slideshow.html">Name Slideshow</a>
</nav>       
<nav>
  <p class="border-bottom border-top link-title">Additional links</p>
  <a class="link1 no-hover" href="https://www.linkedin.com/in/ryan-hilliard-9a5534319/">LinkedIn Account</a>
  <a class="link1" href="https://github.com/rhillia4">GitHub Account</a>
</nav>
<nav class="dim-gray">
  <p class="border-bottom border-top link-title">Info:</p>
  <p class="padding-left">Designed by <a class="link1" href="hilliarddevelopment.com">Hilliard Development</a> 2025©, <i>Certified in 
  <a class="link1" href="https://www.freecodecamp.org/certification/rhillia4/responsive-web-design" target="_blank">Responsive Web Design</a></i>
  </p>
</nav>
