<nav class="sidebar-links-format">
    <p class="border-bottom border-top link-title">Pages:</p>
    <a class="link1" href="./itis3135/">3135 Website</a>
</nav>

<nav class="sidebar-links-format">
    <p class="border-top border-bottom border-top link-title">3135 Pages:</p>
    <a class="link1" href="./itis3135/website-evaluations.html">Website Evaluations</a>
    <a class="link1" href="./itis3135/introduction.html">Introduction</a>
    <a class="link1" href="./itis3135/contract.html">Contract</a>
    <a class="link1" href="./itis3135/hobby/">Hobby</a>
    <a class="link1" href="./itis3135/tables.html">Tables</a>
    <a class="link1" href="./itis3135/build-your-own-introduction.html">Introduction Form</a>
    <a class="link1" href="./itis3135/client-project/">Client Project</a>
    <a class="link1" href="itis3135/slideshow.html">Name Slideshow</a>
</nav>