<nav>
    <p class="border-bottom link-title">Footer:</p>
    <a class="link1" href="stuff/Bad! FILE.htm">Bad Webpage</a>
    <a class="link1" href="relaxed-hippo/">Relaxed Hippo Haberdashery</a>
    <a class="link1" href="client-project/">Client Project</a>
</nav>       
<nav>
  <p class="border-bottom border-top link-title">Additional links:</p>
  <a class="link1" href="https://github.com/rhillia4/rhillia4.github.io">Github Account</a>
  <a class="link1" href="https://rhillia4.github.io/index.html">Github 3135 Repo</a>
  <a class="link1" href="https://rhillia4.github.io/itis3135/index.html">Github 3135 Site</a>
  <a class="link1" href="https://www.freecodecamp.org/rhillia4">FCC Account</a>
  <a class="link1" href="https://www.codecademy.com/profiles/rhillia4">Codecademy Account</a>
  <a class="link1" href="https://www.linkedin.com/in/ryan-hilliard-9a5534319/">LinkedIn Account</a>
</nav>
<nav class="dim-gray">
  <p class="border-bottom border-top link-title">Info:</p>
  <p class="padding-left">Designed by <a class="link1" href="hilliarddevelopment.com">Hilliard Development</a> 2025©, <i>Certified in 
  <a class="link1" href="https://www.freecodecamp.org/certification/rhillia4/responsive-web-design" target="_blank">Responsive Web Design</a></i>
  </p>
</nav>