<nav class="sidebar-links-format">
    <p class="border-bottom border-top link-title">Header:</p>
    <a class="link1" href="../">Portfolio</a>
    <a class="link1" href="website-evaluations.html">Website Evaluations</a>
    <a class="link1" href="introduction.html">Introduction</a>
    <a class="link1" href="contract.html">Contract</a>
    <a class="link1" href="hobby/">Golf Site</a>
    <a class="link1" href="tables.html">Tables</a>
    <a class="link1" href="build-your-own-introduction.html">Introduction Form</a>
    <a class="link1" href="client-project/">Client Project</a>
</nav>